= javascript_include_tag 'particles.min'
= javascript_include_tag 'setting'

.AccountField#particles-js
  .AccountPage
    = link_to root_path do
      = image_tag ('about.svg'), class: 'about__image'
 