= javascript_include_tag 'root' 
.TopBody
  .containe
    .slider
      .slides
        .slides__img.imageForce
          .slides__img__filter
          .slide__caption
            .slide__caption__title
              %a{href: "#4"}
                .panel
                  %button Recipes
            %h2.slide__caption__subtitle What is happiness in life?
            %h3.slide__caption__text One is life with home cooking
        .slides__img.imageFirst
          .slides__img__filter
          .slide__caption
            %h1.slide__caption__title
            %h2.slide__caption__subtitle What is the definition of a good wine?
            %h3.slide__caption__text Is should start and end with a smile.
        .slides__img.imageSecond
          .slides__img__filter
          .slide__caption
            .slide__caption__title
              %a{href: "#2"}
                .panel
                  %button Butler
            %h2.slide__caption__subtitle Do you know your favorite wine preference?
            %h3.slide__caption__text Let's talk to Butler
        .slides__img.imageThird
          .slides__img__filter
          .slide__caption
            .slide__caption__title
              %a{href: "#3"} 
                .panel
                  %button online Shop
            %h2.slide__caption__subtitle Have you ever met a wonderful wine in your life?
            %h3.slide__caption__text You may find it at MaJordome

    %a.control#prev
      = icon('fas', 'chevron-left')
    %a.control#next
      = icon('fas', 'chevron-right')
    .dots
      .dots__single
      .dots__single
      .dots__single
      .dots__single

.MainBody
  .SubInfo#2
    .SubInfo__Field
      .SubInfo__Field__Photo.imageSecond
        .SubInfo__Field__Photo--title
          .panel
            %button Butler
      .SubInfo__Field--Sub
        %p 「良いワインの定義って何？ まず飲み始めて笑顔で終わる事」
        %p Butlerは、皆様の専属ソムリエ です。
        %p お好みを記憶し、毎日の食卓を彩ます。
  .SubInfo#3
    .SubInfo__Field
      .SubInfo__Field__Photo.imageThird
        .SubInfo__Field__Photo--title
          .panel
            %button online Shop
      .SubInfo__Field--Sub
        %p 「人生で自分に合ったワインに巡り会ったことがありますか？」
        %p Ma-Jordome online shopでなら、
        %p 人生のパートナーがきっと見つかります。
  .SubInfo#4
    .SubInfo__Field
      .SubInfo__Field__Photo.imageForce
        .SubInfo__Field__Photo--title
          .panel
            %button Recipes
      .SubInfo__Field--Sub
        %p あなたは手料理がもっと好きになる。
        %p 「ワインに会う料理はなんでしょう？」それは、心のこもった手料理です。
        %p 皆様の心のこもったレシピを投稿してみませんか？


