.MainBody
  .MainBody__Top
    = image_tag ('top01.png'), class: 'TopImage'

  .MainBody__Sub
    .SubInfo1
      = image_tag ('top02.png'), class: 'SubInfo1--Image'
    .SubInfo2
      = image_tag ('top03.png'), class: 'SubInfo2--Image'
    .SubInfo3
      = image_tag ('top04.png'), class: 'SubInfo3--Image'
