.no-underline {
  text-decoration: none;
}
.no-underline:hover {
  text-decoration: none;
}

.about__image{
  // background-color: violet;
}
.MainBody{
  margin: 0 auto 75px;
  width: 85%;
  .SubInfo{
    height: calc(100vh - 70px);
    padding-top: 200px;
    &__Field{
      &__Photo{
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 400px;
        &--title{
          padding-top: 180px;
          text-align: center;
          font-size: 30px;
          color: #fff;
        }
      }
      &--Sub{
        height: calc(100vh - 600px);
        text-align: center;
      }
    }
  }
}

// best in chrome
$total: 1000; // total particles
$orb-size: 200px;
$particle-size: 2px;
$time: 14s; 
$base-hue: 0; // change for diff colors (180 is nice)

.butler {
  background: radial-gradient(black, rgb(151, 151, 151));
  height: 100vh;
  // padding-top: 70px;
  overflow: hidden; // no scrollbars.. 
}

.wrap {
  position: relative;
  top: 50%;
  left: 50%;
  width: 0; 
  height: 0; 
  transform-style: preserve-3d;
  perspective: 1000px;
  animation: rotate $time infinite linear; // rotate orb
}

.Chat{
  height: calc(100vh - 70px);
  width: calc(100vw - 200px);
  border-radius: 20px;
  margin: 0 100px;
  display: flex;
  &__SideMenu{
    width: 300px;
    height: 100%;
    background-color: rgba(70, 40, 40, 0.5);
    color: rgb(201, 186, 186);
    &__Butlerinfo{
      padding: 10px 0;
    }
    &__ButlerText{
      padding: 10px 20px;
    }
    ul.ButlerMenu{
      
      li{
        text-decoration: none;
        padding: 10px 20px;
        border-bottom: 0.2px solid #fff;
        color: rgb(172, 167, 167);
      }
      li:hover{
        background-color: rgb(194, 192, 192);
        color: black;
      }
    }
  }
  
  &__MainField{
    background-color: rgba(0, 0, 0, 0.2);
    // background-color: rgba(255, 0, 0, 0.25);
    padding: 100px;
    margin-bottom: 100px;
    height: 100%;
    width: 100%;
    overflow: scroll;
    &--Butler{
      background-color: rgba(255, 0, 0, 0.25);
      // background: rgba(231, 31, 31, 0.25);
      border-radius: 20px;
      margin-bottom: 30px;
      margin-right: 200px;
      padding: 10px 25px;
      color: #fff;
    }
    &--Answer{
      background: rgba(238, 12, 238, 0.3);
      border-radius: 20px;
      margin-bottom: 100px;
      margin-left: 200px;
      padding: 10px 25px;
      .AnswerField{
        .AnswerBtn{
          display: block;
          width: 100%;
          color: #fff;
          background: rgba(238, 12, 238, 0.1);
          text-align: left;
          margin: 8px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.Finite--btn{
  width: 500px;
  background: rgba(235, 233, 235, 0.5);
  color: #fff;
  margin: 50px auto 200px;
  text-align: center;
  cursor: pointer;
}
#hiddun{
  display: none;
}
@keyframes rotate {
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.c {
  position: absolute;
  width: $particle-size;
  height: $particle-size;
  border-radius: 50%;
  opacity: 0; 
}

@for $i from 1 through $total {
  $z: (random(360) * 1deg); // random angle to rotateZ
  $y: (random(360) * 1deg); // random to rotateX
  $hue: ((40/$total * $i) + $base-hue); // set hue
  
  .c:nth-child(#{$i}){ // grab the nth particle
    animation: orbit#{$i} $time infinite;
    animation-delay: ($i * .01s); 
    background-color: hsla($hue, 100%, 50%, 1);
  }

  @keyframes orbit#{$i}{ 
    20% {
      opacity: 1; // fade in
    }
    30% {
      transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // form orb
    }
    80% {
      transform: rotateZ(-$z) rotateY($y) translateX($orb-size) rotateZ($z); // hold orb state 30-80
      opacity: 1; // hold opacity 20-80
    }
    100% {
       transform: rotateZ(-$z) rotateY($y) translateX( ($orb-size * 3) ) rotateZ($z); // translateX * 3
    }
  }
}

/* #Slider */
* {margin: 0; padding: 0;}
.TopBody {
    position: relative;
    height: calc(100vh - 70px);
    z-index: 1;}

.containe {height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.slider {width: 100%; height: 100%; overflow: hidden;}
.slides {width: calc(100% * 4); height: 100%; position: relative; left: -100%;}
.slides__img {width: calc(100% / 4); height: 100%; float: left; background-position: center; background-repeat: no-repeat; background-size: cover; position: relative;}
.slides__img__filter {width: 100%; height: 100%; background-color: #000; position: absolute; top: 0; left: 0; z-index: 10; opacity: 0.3;}
.imageFirst{background-image: image-url('top01.png');}
.imageSecond{background-image: image-url('top02.png');}
.imageThird{background-image: image-url('top03.png');}
.imageForce{background-image: image-url('top04.png');}
/* #Captions */
.slide__caption {width: 100%; text-align: center; color: #fff; position: absolute; bottom: 5%; z-index: 20; opacity: 0}
.slide__caption__title {font-size: 3em; line-height: 1.05em;}
.slide__caption__subtitle {font-size: 2.25em; line-height: 1.25em;}
.slide__caption__text {font-size: 1.75em; line-height: 1.25em;}

/* #Controls */
.control {cursor: pointer; position: absolute; z-index: 20; top: calc(50% - 50px); padding: 15px; color: #fff; font-size: 3em; opacity: 0.5;}
.control:hover {background-color: #fff; opacity: 0.5; color: #000; color: rgba(0, 0, 0, 0.5);}
#prev {left: 0; border-radius: 0 5px 5px 0;}
#next {right: 0; border-radius: 5px 0 0 5px;}

/* #Indicators */
.dots {width: 100%; position: absolute; z-index: 20; bottom: 2%; text-align: center;}
.dots__single {cursor: pointer; display: inline-block; width: 20px; height: 6px; background-color: #fff; opacity: 0.5; margin: 0 5px;}
.dots__single:hover,
.dots__current {opacity: 1;}


/* ########################
Media Queries
######################## */

/* ------------------------
#Desktop, iPad Pro
------------------------ */
@media only screen and (min-width: 1024px) and (max-width: 1170px) {

}

/* ------------------------
#Display 12", iPad Pro portrait, iPad landscape
------------------------ */
@media only screen and (max-width: 1024px) {

}

/* ------------------------
#Medium Devices, Desktops
------------------------ */
@media only screen and (max-width: 992px) {
  /* #Captions */
  .slide__caption__title {font-size: 2.5em; line-height: 1.125em;}
  .slide__caption__subtitle {font-size: 2em;}

  /* #Controls */
  .prev,
  .next {font-size: 2.5em;}
}

/* ------------------------
#Display 5.5", iPad portrait, iPhone 6, 6s, 7, 8 portrait and landscape, iPhone 5s landscape
------------------------ */
@media only screen and (max-width: 768px) {
  /* #Captions */
  .slide__caption__subtitle {font-size: 1.625em;}
  .slide__caption__text {font-size: 1.5em;}
}

/* ------------------------
#Extra Small Devices, Phones
------------------------ */
@media only screen and (max-width: 480px) {
  /* #Captions */
  .slide__caption__title {font-size: 2em; line-height: 1.25em;}
  .slide__caption__subtitle {line-height: 1.15384615em;}
  .slide__caption__text {font-size: 1.375em; line-height: 1.13636364em;}

  /* #Controls */
  .prev,
  .next {font-size: 2em;}

}

/* ------------------------
#Display 4", iPhone 5s portrait
------------------------ */
@media only screen and (max-width: 320px) {

  /* #Controls */
  .prev,
  .next {font-size: 1.5em;}

}

/* =======================
#Hacks & Fixes
======================= */
/* Clearfix Hack*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* IE6 */
* html .clearfix {
  zoom: 1;
}
/* IE7 */
*:first-child+html .clearfix {
  zoom: 1;
}

/* Box Size Hack */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


// Botton
@import 'https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&subset=cyrillic,cyrillic-ext,latin-ext';
body {background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAFfKj/FAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF4OXp8PX50NXZBLxR6QAAAEhJREFUeNpiYGJgYGACCCAGMAAIIDiDCSCAGLAAgABCEcbBBAggGIORQhogwNCcwIjddKgQI6ojUbkgWSYMo+BCjKiOR9PLBAAchAAxHFDBbwAAAABJRU5ErkJggg==')}
* {box-sizing:border-box}
h1 {text-align:center;font-family:comfortaa;font-weight:900;font-size:3em;color:#fff;text-shadow:0em 0.05em 0 rgba(0,0,0,0.35)}
button {color:#454545;background:transparent;border-width:2px;border-style: solid;border-color: #454545;position:relative;margin:1em;display:inline-block;padding:0.5em 1em;transition:all 0.3s ease-in-out;text-align:center;
font-family:comfortaa;font-weight:bold}
button:before, button:after {content:'';display:block;position:absolute;border-color:#454545;box-sizing:border-box;border-style:solid;width:1em;height:1em;transition:all 0.3s ease-in-out}
button:before {top:-6px;left:-6px;border-width:2px 0 0 2px;z-index:5;}
button:after {bottom:-6px;right:-6px;border-width:0 2px 2px 0;}
button:hover:before, button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#fff}
button:hover {color:#353535;background-color:#fff;border-color:#fff}
.panel {max-width:960px;text-align:center;position:relative;margin:auto;}


.pink button {color:#eb1777;border-color:#eb1777}
.pink button:before, .pink button:after  {border-color:#eb1777}
.pink button:hover:before, .pink button:hover:after {border-color:#eb1777;}
.pink button:hover {color:#fff;background-color:#eb1777;border-color:#eb1777;}
.pink .panel {max-width:960px;text-align:center;position:relative;margin:auto;}


.blue button {color:#3bb4e5;border-color:#3bb4e5}
.blue button:before, .blue button:after  {border-color:#3bb4e5}
.blue button:hover:before, .blue button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#3bb4e5;transform:rotateY(180deg)}
.blue button:hover {color:#3bb4e5;background-color:transparent;border-color:#3bb4e5}
.blue .panel {max-width:960px;text-align:center;position:relative;margin:auto;}

.borderless button {border-color:rgba(0,0,0,0);color:#999}
.borderless button:hover {border-color:#353535;background-color:transparent;color:#353535}
.borderless button:before, .borderless button:after {border-color:transparent;}
.borderless button:hover:before, .borderless button:hover:after {width:calc(100% + 12px); height:calc(100% + 12px);border-color:#353535}

.bw button {color:#fff;border-color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.1);
box-shadow:0 1px 3px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.1) inset
}
.bw button:before, .bw button:after  {border-color:#fff}
.bw button:hover:before, .bw button:hover:after {width:calc(100% + 12px);
  height:calc(100% + 12px);border-color:#353535;}
.bw button:hover {color:#fff;background-color:#353535;border-color:#353535}
.blue .panel {max-width:960px;text-align:center;position:relative;margin:auto;}



