/* ---- particles.js container ---- */
#particles-js{
	position:absolute;
	width: 100vw;
  height: calc(100vh - 70px);
	background-color: #fff;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
}

.AccountField {
  display: flex;
  position: relative;
}
.AccountPage{
  width: 600px;
  height: 400px;
  top: 100px;
  padding-top: 30px;
  margin-top: 50px;
  left: calc((100vw - 600px) / 2);
  position: absolute;
  border-radius: 20px;
  background-color: rgba(95, 1, 1, 0.7);
  box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.5);
  justify-content: space-between;
  .Input_Field{
    margin: 0 auto;
    width: 70%;
    text-align: center;
    .AccountPage__title {
      font-size: 14px;
      font-weight: 200;
      margin-top: 20px;
      h2 {
        margin-bottom: 10px;
        letter-spacing: 3px;
        font-size: 40px;
        border-bottom: 1px solid #6c7174;
      }
      .Button {
        margin-top: 40px;
        color: #fff;
        background-color: #ccc;
      }
    }
  }
}
.Regiistration{
  height: 530px;
  margin-top: 30px;
  padding-top: 0
}
.FormField {
  margin-bottom: 10px;
  &__label--normal {
    padding: 10px 0 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 200;
    text-align: left;
    i {
      font-size: 11px;
    }
    .field_with_errors {
      display: inline-block;
      color: #d65f4c;
      font-weight: 400;
    }
  }
  &__input--normal {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 5px;
      letter-spacing: 1px;
      border-radius: 50px;
    }
    .field_with_errors {
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: #d65f4c;
      }
    }
  }
}

.Button {
  display: inline-block;
  height: 30px;
  padding: 0 30px;
  line-height: 30px;
  letter-spacing: 1px;
  text-align: center;
  border: none;
  border-radius: 2px;
  text-decoration: none;
  border-radius: 50px;
}

.UserButton {
  margin-top: 20px;
  color: #fff;
  background-color: #38aef0;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: #d65f4c;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}


// #edit
.Accountedit{
  // background-color: skyblue;
  height: 1000px;
  .Accountedit__Field{
    width: 60%;
    height: 700px;
    // background-color: slateblue;
    margin: 0 auto;
  }
}
