.p-top__paginate{
  margin-left: 200px;
}
.frag_image{
  height: 14px;
}
// #index
.PaddingBox{
  height: 70px;
}
.PaddingBox2{
  height: 50px;
}
.search-icon{
  font-size: 25px;
}
.WineHeader{
  height: 68px;
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  background-color: #fff;
  z-index: 20;
  .SearchField{
    height: 50px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    &__online{
      position: absolute;
      left: 250px;
      top: -42px;
      font-size: 27px;
      z-index: 20;
      color: rgb(116, 113, 113);
    }
    &__left{
      position: absolute;
      color: rgb(116, 113, 113);
      &--icon{
        height: 40px;
        width: 20px;
        margin: 15px 10px;
        border: none;
      }
      &--inpput{
        border-top: none;
        border-right: none;
        border-left: none;
        font-size: 22px;
      }
    }
    &__right{
      width: 300px;
      position: absolute;
      right: 0;
      .IconBox{
        display: flex;
        justify-content: space-around;
        li{
          margin-top: 14px;
          display: flex;
          flex-direction: column;
          text-align: center;
          font-size: 14px;
          color: rgb(116, 113, 113);
        }
        &__count{
          position: relative;
          &--num{
            position: absolute;
            top: -14px;
            right: 0;
            height:20px;
            width:20px;
            border-radius:50%;
            background-color: rgb(117, 4, 4);
            line-height:20px;
            text-align:center;
            color: #fff;
          }
        }
        &--icon{
          font-size: 2.1em;
          color: rgb(141, 138, 138);
        }
      }
    }
  }
}
.IconBox__Btn:hover {
  text-decoration: none;
}
.IconLists--icon{
  height: 100px;
  width: 100px;
}
.WineBody{
  width: 80%;
  margin: 0 auto;
  // height: 1000px;
  display: flex;
  .WineSide{
    background-color: rgba(66, 66, 66, 0.4);
    width: 300px;
    height: 1800px;
    padding: 30px;
    &--search{
      font-size: 20px;
      font-weight: bold;
    }
    &--element{
      padding: 20px;
    }
  }
  .WineMainField{
    padding: 30px;
    .Products{
      width: 100%;
      height: 100%;

      &__Box{
        height: 200px;
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        &__left{
          width: 150px;
          padding-top: 20px;
          &--image{
            height: 150px;
            border: 1px solid;
            border-color: rgb(207, 207, 207);
          }
        }
        &__center{
          padding: 20px;
          width: 100%;
          &--name{
            border-bottom: 1px solid;
          }
          &--info{
            font-size: 14px;
          }
        }
        &__right{
          padding: 20px;
          width: 150px;
        }
      }
    }
  }
}

// #Show
.WineItemInfomation{
  width: 100vw;
  height: 1100px;
  .Product{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    &__Left{
      width: 600px;
      &__ImageBox{
        height: 350px;
        #list{
          float: left;
          .List--image{
            height: 60px;
            display: block;
            margin: 0 auto;
          }
          li{
            border: 1px solid;
            border-color: rgb(207, 207, 207);
            background-color: rgba(238, 235, 235, 0.4);
            margin: 5px;
          }
        }
        #main{
          height: 300px;
          width: 300px;
          float: right;
          border: 1px solid;
          border-color: rgb(207, 207, 207);
          background-color: rgba(238, 235, 235, 0.4);
          .Main--image{
            height: 300px;
            margin: 0 auto;
            display: block;
          }
        }
      }
      // &--flever{
      //   background-color: rgb(105, 243, 84);
      // }
      &--body{
        margin-bottom: 50px;
        .Bar__Para{
          width: 70%;
          margin: 0 auto;
          &__bar{
            border-radius: 50px;
            display: flex;
            &--ele{
              border-radius: 50px 0 0 50px;
            }
            .Mav_body{
              border-radius: 50px;
            }
          }
          &--body{
            font-size: 10px;
          }
        }
      }
      &--taste{

      }
    }
    &__Right{
      width: 100%;
      .WineInfo{
        padding: 0 20px;
        &__top{
          width: 100%;
          margin: 20px;
          &--nameSpell{
            font-size: 14px;
            padding-left: 9px;
          }
          &--name{
            font-size: 26px;
            font-weight: bold;
            color: #272727;
            margin-bottom: 20px;
            padding-left: 5px;
          }
          &--sparkling{

          }
          &--blanc{

          }
          &--rouge{
            border-left: 5px solid #750225;
          }
          &--title{}
        }
        &__Price{
          width: 80%;
          margin: 20px;
          padding-left: 50px;
          display: flex;
          justify-content: space-between;
          &__price{
            font-size: 26px;
            font-weight: bold;
          }
          &__cart{

          }
        }
        &__SubInfo{
          width: 100%;
          margin: 20px;
        }
        &__TasteComment{
          width: 100%;
          margin: 20px;
          &--ele{
            font-size: 18px;
            font-weight: bold;
            position: relative;
            padding: .3em .3em .3em 1.3em;
          }
          &--ele::after {
            position: absolute;
            content: '';
            bottom: .8em;
            left: .4em;
            width: 12px;
            height: 12px;
            transform: rotate(45deg);
          }
          &--SP::after{
            background-color: #dba800;
          }
          &--B::after{
            background-color: #09e002;
          }
          &--R::after{
            background-color: #750225;
          }
        }
        &__ParsonalData{
          height: 100px;
          width: 100%;
          .Product__table{
            background: rgba(167, 165, 165, 0.7);
            width: 100%;
            margin-top: 20px;
            border-collapse: separate;
            padding: 25px 25px;
            tbody{
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              tr{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th{
                  text-align: left;
                  width: 140px;
                  padding: 10px 20px;
                  box-sizing: border-box;
                  font-size: 16px;
                  vertical-align: top;
                }
                td{
                  position: relative;
                  box-sizing: border-box;
                  padding: 10px 20px;
                  font-size: 16px;
                  border-left: 1px solid #bfc2c2;
                }
              }
            }
          }
        }
      }
    }
  }
}
.sparkling{border-left: 5px solid #dba800;}
.blanc{border-left: 5px solid #09e002;}
.rouge{border-left: 5px solid #750225;}
.Mav_body{border-radius: 50px;}
.Rouge_border{border: 2px solid #750225;}
.Rouge_bar{background-color: #750225;color: #750225;}
.Blanc_border{border: 2px solid #09e002;}
.Blanc_bar{background-color: #09e002;color: #09e002;}

// #New
.Content{
  padding: 40px;
  h1{
    text-align: center;
    font-size: 30px;
  }
  .CreateForm{
    margin: 50px;
    &__Info{
      background: #c2c1c1;
      width: 100%;
      margin-top: 20px;
      border-collapse: separate;
      padding: 25px 25px;
      tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
        tr{
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;
          th{
            text-align: left;
            width: 120px;
            padding-left: 20px;
            box-sizing: border-box;
            font-size: 14px;
            vertical-align: top;
          }
          td{
            position: relative;
            box-sizing: border-box;
            padding-left: 20px;
            font-size: 14px;
          }
        }
      }
    }
    &__taste{
      background: #f9f9f9;
      width: 100%;
      margin-top: 20px;
      border-collapse: separate;
      padding: 25px 25px;
      tbody{
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
        tr{
          display: table-row;
          vertical-align: inherit;
          border-color: inherit;
          th{
            text-align: left;
            width: 120px;
            padding-left: 20px;
            box-sizing: border-box;
            font-size: 14px;
            vertical-align: top;
          }
          td{
            position: relative;
            box-sizing: border-box;
            padding-left: 20px;
            font-size: 14px;
          }
        }
      }
    }
    .Form__submitBtn{
      text-align: center;
    }
  }
}