@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/roots";
@import "modules/user";
@import "modules/wine";

header{
  height: 50px;
  background-color: red;
}
footer{
  height: 100px;
  background-color: black;
}
