.nested-fields
  .CreateForm__leftField
    = f.label :image, "画像", class: 'CreateForm__label'
  .CreateForm__rightField
    = f.file_field :image, class: 'CreateForm__input'
    = link_to_remove_association '削除', f
