%h1 Wines#index
%p Find me in app/views/wines/index.html.haml
-# particles.js container
%div#particles-js
-# stats - count particles
-# %div.count-particles
-#   %span.js-count-particles --
-#   particles

-# %script(src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js")

-# %script(src="http://threejs.org/examples/js/libs/stats.min.js")